$btnSuccess: green;
$btnDanger: red;
$btnWorning: orange;
$btninfo: lightblue;
$btnPrimary: darkblue;

$btnFgLightColor: white;
$btnFgDarkColor: black;
$btnFgGoldColor: gold;

$btnLgFontSize: 18px;
$btnMdFontSize: 16px;
$btnSmFontSize: 12px;

$btnCornerRedius: 40%;
